* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	height: 100vh;
	width: 100vw;
}

:root {
	--white: #fff;
	--purple: #8c00ff;
	--darkblack: #161313;
	--black: rgb(22, 22, 22);
	--orange: #ffa500;
	--yelllow: #ffcc00;
	--red: #c32323;
	--green: #008000;
	--blue: #272ac7;
	--lightblue: #add8e6;
	--grey: #898989;
	--lightgrey: #d3d3d3;
	--widget-size: 200px;
}

.purple {
	color: var(--purple);
}

.red {
	color: var(--red);
}
.yellow {
	color: var(--yelllow);
}
.green {
	color: var(--green);
}

.grey-background {
	background-color: var(--grey) !important;
}

.danger {
	background-color: var(--red) !important;
}

.warning {
	background-color: var(--yelllow) !important;
}

.success {
	background-color: var(--green) !important;
}

.center {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

/* Navbar */

header {
	background-color: var(--lightblue);
	margin-bottom: 1rem;
}

nav {
	position: relative;
	z-index: 10;
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: space-between;
}

ul.menu {
	display: flex;
	width: auto;
	justify-content: space-between;
	list-style: none;
	gap: 1.5rem;
}

ul.menu li a {
	text-decoration: none;
	color: #000;
	margin-bottom: 2px solid transparent;
	transition: 0.5s;
}

ul.menu li a:hover {
	padding-bottom: 0.5rem;
	border-bottom: 2px solid var(--darkblack);
}

/* Dropdown */

.dropdown {
	float: left;
	overflow: hidden;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
	text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Card */
.card {
	border: 1px solid rgba(137, 137, 137, 0.3);
	background-color: var(--white);
	margin: 1rem 0;
	border-radius: 0.2rem;
}

.card-group {
	/* display: grid; */
	/* grid-template-columns: repeat(3, 1fr); */
	gap: 1rem;
}

.group-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	width: 480px;
	height: 80px;
}

.left-content {
	display: flex;
}

.group-header > .name {
	font-size: 26px;
	font-weight: bold;
}

.group-header > .detail {
	font-size: 14px;
	opacity: 0.5;
}

.group-number > .number {
	font-size: 1.8rem;
	font-weight: bold;
}

.card-header {
	/* border: 1px solid blue; */
	font-size: 1.1rem;
	margin: 0.7rem;
}

.card-content {
	border: 1px solid rgba(137, 137, 137, 0.3);
	padding: 1rem 0.5rem;
	border-style: solid none solid;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: auto;
	width: auto;
}

.card-footer {
	/* border: 1px solid orange; */
	margin: 0.7rem;
	display: flex;
}

.card-footer > button {
	background-color: var(--blue);
	padding: 0.8rem 1rem;
	text-decoration: none;
	border: none;
	display: inline-block;
	color: var(--white);
	border-radius: 5px;
	font-size: 14px;
}

.double-column {
	display: flex;
	gap: 30px;
}

/* Preformance */
.widget-wrapper {
	display: flex;
}

.icon-wrapper {
	/* border: 1px solid red; */
	width: 90px;
}

.icon-box {
	/* border: 1px solid red; */
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 100%;
}

.icon-box > i {
	/* border: 1px solid red; */
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
	padding: 0.9rem;
	border-radius: 100%;
}

.icon-box-card > i {
	/* border: 1px solid red; */
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
	padding: 0.5rem;
	border-radius: 100%;
}

.detail-title {
	font-size: 12px;
	opacity: 0.75;
}

.detail-number {
	font-size: 2rem;
	font-weight: bold;
}

.detail-rate {
	/* border: 1px solid red; */
	display: flex;
	font-size: 12px;
}

.detail-rate > div,
.detail-rate > i {
	margin: 0 2px;
}

/* Status */
.table-main {
	position: relative;
	/* border: 1px solid red; */
	display: inline-block;
	width: 100%;
}

.table-wrapper {
	display: table;
	/* border: 1px solid red; */
	width: fit-content;
}

table {
	border-collapse: collapse;
	width: 1120px;
}

th,
td {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	height: 45px;
	width: auto;
}

.avatar > img {
	/* border: 1px solid red;    */
	border-radius: 100%;
	display: block;
	max-height: 45px;
	max-width: 45px;
	margin-left: auto;
	margin-right: auto;
}

td > a:link {
	text-decoration: none;
}

td > a:hover {
	text-decoration: underline;
}

td > .status {
	display: inline-block;
	background-color: var(--red);
	color: var(--white);
	border-top-right-radius: 30px 30px;
	border-bottom-right-radius: 30px 30px;
	border-top-left-radius: 30px 30px;
	border-bottom-left-radius: 30px 30px;
}

.status {
	text-align: center;
	padding: 0 0.5rem;
}

.achive-process {
	/* border: 1px solid red; */
	display: flex;
	width: auto;
}

.process-percent {
	display: flex;
	margin: 0 0.5rem;
}

.process-bar {
	/* border: 1px solid red; */
	background-color: #b4b4b4;
	display: flex;
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.process-bar > .process {
	background-color: var(--red);
	width: 71%;
	border-radius: 5px 0 0 5px;
}

.action button {
	background-color: var(--blue);
	color: white;
	padding: 8px 10px;
	cursor: pointer;
	text-decoration: none;
	border: none;
}

.action:after {
	content: "";
	clear: both;
	display: table;
}

.action button {
	border-radius: 5px;
}

/* .action button:first-child {
	border-radius: 5px 0 0 5px;
}

.action button:not(:last-child) {
	border-right: 1px solid var(--grey);
}

.action button:last-child {
	border-radius: 0 5px 5px 0;
} */

.card-footer > button {
	display: flex;
}

button > .icon-button {
	margin-right: 0.5rem;
}

/* Timeline */
.timeline-item {
	/* border: 1px solid red; */
	display: flex;
	width: 480px;
}

.timeline-item::after {
	content: "";
	display: block;
	position: absolute;
	background-color: var(--lightgrey);
	height: 40px;
	width: 3px;
	margin-left: 14px;
}

.timeline-dot {
	height: 15px;
	width: 15px;
	background-color: var(--red);
	border-radius: 50%;
	display: inline-block;
	position: relative;
	margin: 0.5rem;
	z-index: 1;
}

.timeline-dot::before {
	content: "";
	height: 9px;
	width: 9px;
	background-color: var(--white);
	border-radius: 50%;
	display: block;
	position: absolute;
	margin: 3px 0 0 3px;
	z-index: 1;
}

.timeline-content {
	display: flex;
	margin: 0.5rem;
}

.timeline-content > .new {
	display: block;
	background-color: var(--red);
	padding: 0 0.3rem;
	margin-left: 0.8rem;
	border-radius: 3px;
}

.new {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--white);
}

/* Process */

.css-chart {
	border-bottom: 1px solid;
	border-left: 1px solid;
	display: inline-block;
	height: var(--widget-size);
	margin: 5em 15em 1em 5em;
	padding: 0;
	position: relative;
	width: var(--widget-size);
}

.chart-wrapper {
	border: 1px solid red;
	width: 1140px;
	margin: auto;
}

.process-wrapper {
	/* border: 1px solid red; */
	width: 100%;
}

.footer-header,
.text-process {
	/* border: 1px solid red; */
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.number-process {
	font-size: 1.5rem;
	font-weight: bold;
	color: green;
}

.growth-process > .process-bar {
	/* border: 1px solid red; */
	background-color: #b4b4b4;
	display: flex;
	width: 100%;
	height: 20px;
	border-radius: 5px;
}

.process-bar > .process {
	background-color: var(--blue);
	width: 71%;
	border-radius: 5px 0 0 5px;
}
